{% extends 'users/base.html' %}
{% block body %}
<form method="POST" class="bg-white shadow-md m-10 w-2/5 rounded px-8 pt-6 pb-8 mb-4">
    {% csrf_token %}
    <div class="mb-2">
        <label class="block text-grey-700 text-sm font-bold mb-2" for="">Email</label>
        <div class="shadow appearance-none border rounded py-2 px-2 text-grey-700">
          {{form.email}}
        </div> 
        <button type="submit" class="bg-green-500 text-white my-5 px-5 py-2">Submit</button>
      </div>
</form>
{% endblock %}