{% extends 'users/base.html' %}
{% block body %}
{% if validlink %}
<form method="POST" class="bg-white shadow-md m-10 w-2/5 rounded px-8 pt-6 pb-8 mb-4">
    {% csrf_token %}
    <div class="mb-2">
        <label class="block text-grey-700 text-sm font-bold mb-2" for="">New Password</label>
        <div class="shadow appearance-none border rounded w-full py-2 px-3 mr-10 text-grey-700">
          {{ form.new_password1 }}
        </div>
       
      </div>
      <div class="mb-2">
        <label class="block text-grey-700 text-sm font-bold mb-2" for="">New Password Confirmation</label>
        <div class="shadow appearance-none border rounded  w-full py-2 px-3 mr-10 text-grey-700">
          {{ form.new_password2 }}
        </div>
       
      </div>
      <button type="submit" class="bg-green-500 text-white my-5 px-5 py-2">Submit</button>
</form>
{% else %}
<h2>Password reset link is invalid</h2>
{% endif %}
{% endblock %}